html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    max-width: 1440px;
    min-width: 400px;
    /*     color: white;

    background: hsla(216, 93%, 12%, 1);

    background: linear-gradient(315deg, hsla(216, 93%, 12%, 1) 3%, hsla(205, 91%, 32%, 1) 12%, hsla(172, 70%, 60%, 1) 40%, hsla(96, 100%, 88%, 1) 100%);

    background: -moz-linear-gradient(315deg, hsla(216, 93%, 12%, 1) 3%, hsla(205, 91%, 32%, 1) 12%, hsla(172, 70%, 60%, 1) 40%, hsla(96, 100%, 88%, 1) 100%);

    background: -webkit-linear-gradient(314deg, hsla(216, 93%, 12%, 1) 3%, hsla(241, 91%, 32%, 1) 12%, rgba(82, 224, 205, 0.733) 40%, rgba(7, 160, 236, 0.256) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#02193B", endColorstr="#075E9D", GradientType=1); */

    background-color: rgb(223, 223, 223);
}

header {
    position: fixed;
    top: 0px;
    width: 100%;
}

nav {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgb(203, 202, 202);
}

ul {
    display: flex;
    justify-content: center;
    gap: 2%;
    margin: 0px;
    padding: 20px 0px;

    background: hsla(143, 67%, 20%, 1);

    background: linear-gradient(315deg, hsla(143, 67%, 20%, 1) 4%, hsla(120, 100%, 25%, 1) 20%, hsla(120, 100%, 25%, 1) 34%, hsla(91, 100%, 30%, 1) 54%, hsla(70, 100%, 35%, 1) 75%, hsla(51, 100%, 50%, 1) 100%);

    background: -moz-linear-gradient(315deg, hsla(143, 67%, 20%, 1) 4%, hsla(120, 100%, 25%, 1) 20%, hsla(120, 100%, 25%, 1) 34%, hsla(91, 100%, 30%, 1) 54%, hsla(70, 100%, 35%, 1) 75%, hsla(51, 100%, 50%, 1) 100%);

    background: -webkit-linear-gradient(315deg, hsla(143, 67%, 20%, 1) 4%, hsla(120, 100%, 25%, 1) 20%, hsla(120, 100%, 25%, 1) 34%, hsla(91, 100%, 30%, 1) 54%, hsla(70, 100%, 35%, 1) 75%, hsla(51, 100%, 50%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#11552B", endColorstr="#008000", GradientType=1);
}

li {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

.sous-titre {
    margin-top: 10px;
    margin-bottom: 40px;
}

.media {
    width: 205px;
    justify-self: center;
    border: 1px solid black;
    padding: 10px;
}

.media a {
    font-weight: 900;
    padding: 10px;
}

.linkedin-link {
    background-color: #0b66c2;
}

.linkedin-link:hover,
.linkedin-link a:hover {
    background-color: #028df0;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 3%;
    align-items: center;
}

section {
    margin: 5% 0px;
}

.contact-page-main-container {
    display: flex;
    justify-content: space-between;
    width: 75%;
    justify-self: center;
}

h2 {
    text-decoration: underline;
    justify-self: center;
}

.about-me-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    justify-self: center;
    width: 32%;
    text-align: left;
}

.hard-skills-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-self: center;
    gap: 20px;
}

.hard-skills-container span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 12px 15px 10px rgb(167, 167, 167);
    text-wrap: wrap;
    height: 60px;
    width: 60px;
    gap: 20px;
    background-color: white;
    color: black;
}

.skill {
    transform: translateY(-950px);
    transition: transform 1s ease-out;
}

.visible {
    transform: translateY(0);
}

.tooltip {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}

.tooltip-container:hover .tooltip {
    opacity: 1;
    visibility: visible;
}

.light-background {
    color: black;
}

.education-container {
    width: 633px;
    margin: 0 auto;
    box-shadow: 15px 20px 15px 0px grey;
}

.row {
    display: flex;
    justify-content: center;
    background-color: white;
    border: 5px solid navy;
}

.row:first-of-type {
    border-bottom: none;
}

.year {
    display: flex;
    width: 10%;
    font-weight: bold;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    border-right: 1px solid black;
    padding: 0px 20px;
    border-right: 3px solid navy;
    border-right: 5px solid navy;
}

.details {
    width: 90%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.formation-detail {
    margin: 0px;
    font-weight: 900;
}

.details h3 {
    margin: 0 0 10px;
}

footer {
    border-top: 1px solid black;
}

.social-media-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.top-container {
    height: 120px;
}

.GitHub-link {
    background-color: black;
}

.GitHub-link:hover {
    background-color: rgb(54, 53, 53);
}

.GitHub-link a {
    color: white;
}

footer p {
    margin: 5px 0px;
}

footer p:first-of-type {
    margin-top: 0px;
    font-weight: 800;
}

.contact-container {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.contact-container a {
    color: black;
    text-decoration: underline;
}

.contact-container span {
    border: 1px solid goldenrod;
    background-color: white;
    padding: 10px 10px;
    font-weight: 900;
    margin-top: 30px;
}

.contact-container span:hover {
    background-color: rgba(255, 217, 0, 0.473);
}

/* Tablettes */
@media screen and (max-width: 768px) {

    body,
    .year,
    h3 {
        font-size: 15px;
    }

    h1 {
        font-size: 30px;
    }

    .contact-page-main-container {
        width: 80%;
        flex-direction: column;
    }

    .media {
        width: 140px;
        padding: 5px;
    }

    .media a {
        padding: 0px;
    }

    .hard-skills-container {
        grid-template-columns: auto auto auto auto auto;
    }

    .hard-skills-img {
        height: 40px;
    }

    .education-container {
        width: 396px;
    }

    .contact-container {
        align-items: center;
    }

    .contact-container span {
        width: fit-content;
    }
}

/* Téléphones (grands) */
@media screen and (max-width: 425px) {

    header {
        top: auto;
        bottom: 0px;
    }

    ul {
        justify-content: space-around;
        gap: 0px;
    }

    main {
        margin-top: 0px;
    }

    .media {
        width: 140px;
        padding: 10px 5px;
    }

    .about-me-container {
        width: 45%;
    }

    h2 {
        font-size: 1em;
    }

    .hard-skills-container {
        grid-template-columns: auto auto;
    }

    .education-container {
        width: 259px;
    }

    .row {
        flex-direction: column;
        align-items: center;
    }

    .year {
        border: 1px solid black;
        margin-top: 5%;
    }

    .details h3 {
        text-align: center;
    }

    footer {
        margin-bottom: 57px;
    }

    .contact-container span {
        padding: 10px 5px;
    }
}